:root {
  --board-line-radius: 2px;
  --board-line-color: rgb(43, 52, 118);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

.game-container {
  height: 100vh;
  background-image: radial-gradient(pink 20%, rgb(100, 100, 235));
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  /* border: 2px solid red; */
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-section {
  border: 2px solid black;
  /* height: 100%; */
  min-width: 370px;
  min-height: 330px;
  padding: 30px 15px;
}

.game-title {
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.info-nav {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px 0px 3px 0px;
  font-size: larger;
  font-weight: 700;
  display: flex;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
}

.nav-item-active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: red;
  text-underline-offset: 3px;
}

.info-display {
  padding: 10px 0px;
  list-style-position: inside;
}

.scoreboard td,
.rules {
  font-size: 17px;
  color: blue;
}

table {
  width: 100%;
  text-align: center;
}

th {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.board {
  background-color: silver;
  border: var(--board-line-radius) solid var(--board-line-color);
  background-image: radial-gradient(yellow, green);
  height: 100%;
  max-height: 530px;
  min-height: 200px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0px !important;
  position: relative;
}

.col-box {
  border: var(--board-line-radius) solid var(--board-line-color);
}

.inner-square {
  position: absolute;
  width: 71%;
  aspect-ratio: 1;
  border: calc(2 * var(--board-line-radius)) solid var(--board-line-color);
  transform: rotate(45deg);
  transform-origin: 35.5% 84.8%;
}

.dignl {
  position: absolute;
  width: 141.42%;
  height: calc(2 * var(--board-line-radius));
  background-image: radial-gradient(red, yellow);
  border-radius: 60%;
}

.main {
  transform-origin: 0.5%;
  transform: rotate(45deg);
}

.rev {
  top: 99%;
  transform-origin: 0.5%;
  transform: rotate(-45deg);
}

img {
  max-width: 100%;
}

.position {
  position: absolute;
  border-radius: 50%;
  width: 10%;
  aspect-ratio: 1;
  cursor: pointer;
}

.selectedPiece {
  border: 2px solid red;
  padding: 2px;
  border-radius: 50%;
}

#modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  opacity: 0.4;
}

#modal-box {
  position: relative;
  width: 50%;
  aspect-ratio: 2/1;
  background-color: white;
  opacity: 0.9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 10px;
  max-width: 400px;
}

#restart {
  padding: 1% 5%;
  text-align: center;
  border: 2px solid green;
  font-size: 100%;
  background-color: green;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

#restart:hover {
  border: 2px solid red;
}
